<table class="pure-table" style="width: 100%">
  <thead>
    <tr>
      <th><%= link_to content_tag(:i, "" ,class: 'fa fa-plus', 'aria-hidden': true), new_article_path, title: '新建', 'data-toggle': 'tooltip' %></th>
      <th>名称</th>
      <th>标签</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <%= render @articles %>
  </tbody>
</table>