<div class="aside-widget">
  <header>
      <h3>标签列表<%= link_to(content_tag(:i, "" ,class: 'fa fa-tag', 'aria-hidden': true), new_tag_path, title: '新建标签', 'data-toggle': 'tooltip', class: 'pull-right') if current_user.has_role?(:admin)  %></h3>
  </header>
  <div class="body">
      <ul class="clean-list">
        <%= render @tags %>
      </ul>
  </div>
</div>




